page-login {
  
  .login-content { 
    position: relative;
    background: url('../assets/imgs/background.jpg') no-repeat transparent;
    
    background-size: cover;
    height: 100%;
    z-index: 1;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear alternate infinite;

    .logo-box
    {
      display: flex;
      margin-left: auto;
      margin-right: auto;      
    }   
 
    .login-box {
      position: absolute;
      bottom: 90px;
      right: 10px;
      left: 10px;
      padding: 10px;
      background-color: rgba(0,0,0,.5);
      box-sizing:border-box;
      transition: 0.5s;

      padding: 20px 20px 20px 20px;            
      border-radius: 30px !important;     
      opacity: 0.8;      
    }

    .login-footer {
      color: white;
    }
           
     .signup-col {
       margin: 0px 16px 0px 16px;
       padding-bottom: 20px;
     }
 
     .item-inner {
       border-bottom-color: #ffffff !important;
       box-shadow: none !important;
     }
 
     .submit-btn {
       background: #1a68ce;
       width: 100%;
       border: 1px solid #ffffff;      
     }
 
     .register-btn {
       color: #ffffff;
       width: 100%;
       border: 1px solid #ffffff;      
     }
     

     .forget-btn {
      background: #DF5A49;
      width: 100%;
      border: 1px solid #ffffff;      
    }

    .signup-btn {
      background: #1a68ce;      
      width: 100%;
      border: 1px solid #ffffff;
    }

    .register-btn {
      color: #ffffff;
      width: 100%;
      font-size: 0.8em;
    }
  }

  @keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
  }
}