<ion-header>
  <ion-navbar text-center no-border-bottom color="primary">              

      <ion-row>

          <ion-col>
              <ion-item detail-none no-lines class="backgroundPainel" text-left>  
                  <ion-title *ngIf="! dataInfo.isAdmin">{{dataInfo.titleAppName}}</ion-title>                                              
                  <ion-title *ngIf="dataInfo.isAdmin">{{dataInfo.titleAppName}} {{dataInfo.titleProducts}} </ion-title>                                              
              </ion-item>                
          </ion-col>

          <ion-col col-9 *ngIf="! dataInfo.isAdmin">
              <ion-item detail-none no-lines class="backgroundPainel" text-center>  
                  <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.login_usuarios}}             
                  <b>{{dataInfo.titleAddress}}:</b> {{dataInfo.ipLocal}} 
                  <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}
              </ion-item>
          </ion-col>        
      </ion-row>        
     
      <ion-buttons end *ngIf="false">

          <button ion-button icon-only color="royal" (click)="presentModalCashDrain()" tooltip="Sangria" positionV="bottom" arrow>
              <ion-icon class="fs-30" name="md-remove-circle"></ion-icon>
          </button>

          <button ion-button icon-only color="royal" (click)="presentModalChange()" tooltip="Troco" positionV="bottom" arrow>
              <ion-icon class="fs-30" name="cash"></ion-icon>
          </button>

          <button ion-button icon-only color="royal" (click)="presentModalExtract()" tooltip="Extrato de caixa" positionV="bottom" arrow>
              <ion-icon class="fs-30" name="ios-clipboard"></ion-icon>
          </button>        

          <button ion-button icon-only color="royal" (click)="goPageTicket()" tooltip="Reimpressão" positionV="bottom" arrow>
              <ion-icon class="fs-30" name="ios-print"></ion-icon>
          </button>

          <button ion-button icon-only color="royal" (click)="logout()" tooltip="Deslogar" positionV="bottom" arrow>
              <ion-icon class="fs-30" name="log-out"></ion-icon>
          </button>            
      </ion-buttons>                

</ion-navbar>  

</ion-header>



<ion-content padding>  

<ion-list *ngIf="isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
    <ion-title> {{dataInfo.pleaseWait}} </ion-title>
</ion-list>
  
<ion-list *ngIf="! isLoading">
    <ion-label stacked>Faça uma leitura</ion-label>

    <ion-item no-lines><ion-label stacked> {{dataInfo.ticketStart}} </ion-label>
      <ion-input type="number" (keyup.enter)="search()" [(ngModel)]="searchTicket" #searchbar></ion-input>

  </ion-item>  

  <ion-row>
      <ion-col>
        <button ion-button full (click)="cancelar()">Cancelar</button>    
      </ion-col>

      <ion-col>
        <button [disabled]="!searchTicket || searchTicket.length === 0" ion-button full (click)="search()">Confirmar</button>    
      </ion-col>    
      
  </ion-row>

  <ion-row>
    <ion-col>
      <button [disabled]="allTicketCart.length === 0" ion-button full (click)="pagamento()" color="secondary">Pagamento</button>    
    </ion-col>  

  </ion-row>

  
                              
</ion-list>


<ion-list  *ngIf="! isLoading && allTickets.length > 0"> 

        <ion-item *ngFor="let command of allTickets">    
                Bilhete: {{ command.id_estoque_utilizavel}} Subtipo: {{command.nome_subtipo_produto}}
              
            <span item-end>R$ {{ command.valor_produto}} </span>

            <button ion-button color="light" item-end (click)="presentModal(command)">Subtipos</button>
            <button ion-button color="danger" item-end (click)="remove(command)">Remover</button>
                
        </ion-item>
    
    </ion-list>
    

 
<ion-list  *ngIf="! isLoading && allTicketsMultiple.length > 0"> 

    <ion-item *ngFor="let command of allTicketsMultiple">    
    <h3 style="color: red;"> Bilhetes:{{command.nome_subtipo_produto}} do {{command.ticketStart}} até {{command.ticketEnd}} .... 
        <b>R$ {{command.valor_produto}} x {{command.total}}</b>
        
      </h3>
      
    <span item-end>R$ {{ command.valorTotalF}} </span>    

    <h3> {{command.total}} bilhete(s) válidos. Subtipo: {{command.nome_subtipo_produto}}</h3>
    <h3 *ngIf="command.vencidos"> Bilhete(s) vencidos: {{command.vencidos}}</h3>

    <button ion-button color="light" item-end (click)="presentModal(command)">Subtipos</button>
    <button ion-button color="danger" item-end (click)="remove(command)">Remover</button>

    </ion-item>

</ion-list>

</ion-content>
