<ion-header>
  <ion-navbar text-center no-border-bottom color="primary">        
    <ion-title>Venda de bilhetes</ion-title>     
  </ion-navbar>  
  
</ion-header>

<ion-content padding>  

<ion-list *ngIf="isLoading">
    <ion-spinner name="bubbles"></ion-spinner>
    <ion-title> {{dataInfo.pleaseWait}} </ion-title>
</ion-list>
  
<ion-list *ngIf="! isLoading">
    <ion-label stacked>Faça uma leitura</ion-label>

    <ion-item no-lines><ion-label stacked> {{dataInfo.ticketStart}} </ion-label>
      <ion-input type="number" (keyup.enter)="search()" [(ngModel)]="searchTicket" #searchbar></ion-input>

  </ion-item>  

  <ion-row>
      <ion-col>
        <button ion-button full (click)="cancelar()">Cancelar</button>    
      </ion-col>

      <ion-col>

        <button [disabled]="allTicketCart.length === 0" ion-button full (click)="pagamento()" color="secondary">Pagamento</button>    
      </ion-col>  

      <ion-col>
        <button [disabled]="!searchTicket || searchTicket.length === 0" ion-button full (click)="search()">Confirmar</button>    
      </ion-col>      
  </ion-row>

  
                              
</ion-list>


<ion-list  *ngIf="! isLoading && allTickets.length > 0"> 

        <ion-item *ngFor="let command of allTickets">    
                Ingresso: {{ command.id_estoque_utilizavel}} Subtipo: {{command.nome_subtipo_produto}}
              
            <span item-end>R$ {{ command.valor_produto}} </span>

            <button ion-button color="light" item-end (click)="presentModal(command)">Subtipos</button>
            <button ion-button color="danger" item-end (click)="remove(command)">Remover</button>
                
        </ion-item>
    
    </ion-list>
    

 
<ion-list  *ngIf="! isLoading && allTicketsMultiple.length > 0"> 

    <ion-item *ngFor="let command of allTicketsMultiple">    
    <h3 style="color: red;"> Ingresso:{{command.nome_subtipo_produto}} do {{command.ticketStart}} até {{command.ticketEnd}} .... 
        <b>R$ {{command.valor_produto}} x {{command.total}}</b>
        
      </h3>
      
    <span item-end>R$ {{ command.valorTotalF}} </span>    

    <h3> {{command.total}} bilhete(s). Subtipo: {{command.nome_subtipo_produto}}</h3>

    <button ion-button color="light" item-end (click)="presentModal(command)">Subtipos</button>
    <button ion-button color="danger" item-end (click)="remove(command)">Remover</button>

    </ion-item>

</ion-list>

</ion-content>
