  <ion-header>
    <ion-navbar text-center no-border-bottom color="primary">      
        <ion-title>{{dataInfo.titleAppName}}</ion-title>  

      <ion-buttons start *ngIf="false">
        <button ion-button icon-only color="royal" (click)="goPageParking()">
          <ion-icon name="car"></ion-icon>
        </button>
      </ion-buttons>   
    </ion-navbar>   
    
    <ion-toolbar color="primary">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="setFilteredItems()"
        placeholder= "Procurar...">    
      </ion-searchbar>
   </ion-toolbar>

 </ion-header>
  
<ion-content padding>  
             
  <ion-list>      
    <button ion-item *ngFor="let area of areas" (click)="areaSelected(area)">
        {{ area.nome_area_venda }}
    </button>    
  </ion-list>


</ion-content>