<ion-header>
  <ion-navbar text-center no-border-bottom color="primary">            
    <ion-title>{{dataInfo.titleCashStatement}}</ion-title> 

    <ion-item detail-none no-lines class="backgroundPainel" text-center>  
        <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.login_usuarios}}             
        <b>{{dataInfo.titleAddress}}:</b> {{dataInfo.ipLocal}} 
        <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
        <b>Versão:</b> 0.1
    </ion-item>
  
  </ion-navbar>   
</ion-header>

<ion-content padding>

<ion-list no-lines>

    <ion-item no-lines class="text-green fs-15 fw-600 pdl-0">
        <ion-label color="primary" class="text-green">{{dataInfo.titleCashChange}}</ion-label>      

         <ion-input type="number" [(ngModel)]="totalChange" text-right></ion-input>
    </ion-item>  

    <ion-item no-lines class="text-red fs-15 fw-600 pdl-0">

      <ion-label color="primary" class="text-red">{{dataInfo.titleCashDrain}}</ion-label>    
       <ion-input type="number" [(ngModel)]="totalDrain" text-right
       #inputEnd></ion-input>
    </ion-item>         

    <ion-item no-lines class="text-black fs-15 fw-600 pdl-0">
      <ion-label color="primary" class="text-black">{{dataInfo.titleTicketTotal}}</ion-label>      
       <ion-input type="number" [(ngModel)]="totalTicket" text-right></ion-input>
  </ion-item>  
  
  <ion-item no-lines class="text-black fs-15 fw-600 pdl-0" *ngIf="totalAll === 0">
      <ion-label color="primary" class="text-black">{{dataInfo.titleTotal}}</ion-label>      
       <ion-input type="number" [(ngModel)]="totalAll" text-right></ion-input>
  </ion-item>  

  <ion-item no-lines class="text-green fs-15 fw-600 pdl-0" *ngIf="totalAll > 0">
      <ion-label color="primary" class="text-green">{{dataInfo.titleTotal}}</ion-label>      
     <ion-input type="number" [(ngModel)]="totalAll" text-right></ion-input>
  </ion-item>  

  <ion-item no-lines class="text-red fs-15 fw-600 pdl-0" *ngIf="totalAll < 0">
    
    <ion-label color="primary" class="text-red">{{dataInfo.titleTotal}}</ion-label>      
    <ion-input type="number" [(ngModel)]="totalAll" text-right></ion-input>
  </ion-item>  
  
               
</ion-list>

</ion-content>   

<ion-footer no-border color="transparent">     
  <button ion-button full large (click)="goBack()" color="positive">{{dataInfo.titleCancel}}</button>
</ion-footer>