<ion-header>
    <ion-navbar text-center no-border-bottom color="primary">      
        <ion-title>{{dataInfo.titleHistory}}</ion-title>  

        <ion-item detail-none no-lines class="backgroundPainel" text-center>  
            <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.login_usuarios}}             
            <b>{{dataInfo.titleAddress}}:</b> {{dataInfo.ipLocal}} <b>{{dataInfo.clock}}</b>
        </ion-item>
        
    </ion-navbar>  
    
</ion-header>

<ion-content padding>

    <ion-searchbar *ngIf="dayBegin && dayEnd && supervisorOk"
    [(ngModel)]="searchTerm"
    (ionInput)="setFilteredItems()"
    placeholder= "Procurar...">    
  </ion-searchbar>

    <ion-list *ngIf="dataInfo.appType === 2">
        <ion-item>
          <ion-label>{{dataInfo.titleDayStart}}</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dayBegin"></ion-datetime>
        </ion-item>
      
        <ion-item>
          <ion-label>{{dataInfo.titleEndStart}}</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dayEnd"></ion-datetime>
        </ion-item>
        
      <ion-item>
          <button ion-button full large text-uppercase (click)="search()">{{dataInfo.titleSearch}}</button>          
      </ion-item>

    </ion-list>

    <ion-list *ngIf="dataInfo.appType === 1">  

    <ion-item no-lines class="text-green fs-15 fw-600 pdl-0" *ngIf="! supervisorOk">                  
        <ion-label color="primary" class="fs-30">{{dataInfo.titleSupervisor}}</ion-label>    
            <ion-select [(ngModel)]="supervisorUsername">            
            <ion-option *ngFor="let supervisor of (allSupervisors | async)?.success">{{supervisor.login_usuarios}}</ion-option>                                                  
        </ion-select>                          
        </ion-item>      

    <ion-item no-lines class="text-green fs-15 fw-600 pdl-0" *ngIf="! supervisorOk">
        <ion-label color="primary" class="fs-30">{{dataInfo.titlePassword}}</ion-label>      
        <ion-input type="password" [(ngModel)]="supervisorPassword" (keyup.enter)="finish()" text-right #inputPassword></ion-input>
    </ion-item>    

    <ion-item no-lines>
        <ion-item no-lines *ngFor="let ticket of ticketsCallback">                      
            <ion-checkbox (click)="ticketClicked(ticket)" [checked]=ticket.checked></ion-checkbox>
            <ion-label>{{ticket.fk_id_estoque_utilizavel}} - {{ticket.nome_produto}} - {{ticket.data_log_venda}} </ion-label>          
        </ion-item>  
    </ion-item>
        
    </ion-list>

    <ion-list *ngIf="dataInfo.appType === 2">  
        <button ion-item  *ngFor="let order of ticketsCallback" no-lines (click)="goPageTicket(order)">
          <h2>{{order._billing_first_name}} {{order._billing_last_name}} </h2>
          <p>{{dataInfo.titleTicketType}}: {{order.order_items}}</p>
          <p>{{dataInfo.titleDayBo}} {{order.post_date}}</p>        
        </button>                    
    </ion-list>        
</ion-content>

<ion-footer no-border color="transparent" *ngIf="dataInfo.appType === 1" class="ani-bottom-to-top">      

    <button *ngIf="! supervisorOk" ion-button full large (click)="finish()" color="secondary">{{dataInfo.titleConfirm}}</button>  
    <button *ngIf="supervisorOk" ion-button full large (click)="printSelecteds()" color="secondary" style="text-transform: uppercase;">{{dataInfo.titleRePrint}}</button>    
    <button ion-button full large (click)="goBack()" style="text-transform: uppercase;">{{dataInfo.titleGoBack}}</button>   
  </ion-footer>

