<ion-header>
    <ion-navbar text-center no-border-bottom color="primary">      
        <ion-title>{{dataInfo.titleHistory}}</ion-title>  
    </ion-navbar>  
    
</ion-header>

<ion-content padding>

    <ion-searchbar *ngIf="dayBegin && dayEnd"
    [(ngModel)]="searchTerm"
    (ionInput)="setFilteredItems()"
    placeholder= "Procurar...">    
  </ion-searchbar>

    <ion-list>
        <ion-item>
          <ion-label>{{dataInfo.titleDayStart}}</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dayBegin"></ion-datetime>
        </ion-item>
      
        <ion-item>
          <ion-label>{{dataInfo.titleEndStart}}</ion-label>
          <ion-datetime displayFormat="DD MMM YYYY" [(ngModel)]="dayEnd"></ion-datetime>
        </ion-item>
        
      <ion-item>
          <button ion-button full large text-uppercase (click)="search()">Pesquisar</button>          
      </ion-item>

    </ion-list>

    <ion-list>  
        <button ion-item  *ngFor="let order of ticketsCallback" no-lines (click)="goPageTicket(order)">
          <h2>{{order._billing_first_name}} {{order._billing_last_name}} </h2>
          <p>{{dataInfo.titleTicketType}}: {{order.order_items}}</p>
          <p>{{dataInfo.titleDayBo}} {{order.post_date}}</p>        
        </button>                    
      </ion-list>
        

</ion-content>

