<ion-header>
  <ion-navbar text-center no-border-bottom color="primary">            
  <ion-title>{{dataInfo.titlePayment}}</ion-title> 
  </ion-navbar>   
</ion-header>

<ion-content padding>

<ion-list>

    <ion-item class="text-green fs-15 fw-600 pdl-0">
      <ion-label color="primary">{{dataInfo.titleTotalPayment}}</ion-label>
       <ion-input type="number" [(ngModel)]="totalReceived" placeholder="Total recebido"></ion-input>
    </ion-item>

    <ion-item class="text-green fs-15 fw-600 pdl-0">
        <ion-icon *ngIf="paymentType === 1" name='cash' class="fs-30" color="secondary" item-start></ion-icon>
        <ion-icon *ngIf="paymentType === 2" name='md-card' class="fs-30" color="secondary" item-start></ion-icon>
        <ion-icon *ngIf="paymentType === 3" name='md-card' class="fs-30" color="primary" item-start></ion-icon>
        <ion-label class="fs-15 fw-600 mgb-10">{{dataInfo.titlePaymentForm}}: {{paymentForm}}</ion-label>            
    </ion-item>    

    <ion-item class="text-green fs-15 fw-600 pdl-0">
      <ion-icon name='cash' class="fs-30" color="secondary" item-start></ion-icon>
      <ion-label class="fs-15 fw-600 mgb-10">{{dataInfo.titleFinalValue}}: {{finalValue}}</ion-label>            
    </ion-item>

    <ion-item class="text-green fs-15 fw-600 pdl-0">
      <ion-icon name='cash' class="fs-30" color="primary" item-start></ion-icon>
      <ion-label class="fs-15 fw-600 mgb-10">{{dataInfo.titleTotalChange}}: {{totalChange}}</ion-label>
    </ion-item>

</ion-list>

</ion-content>   

<ion-footer no-border color="transparent">   
  <button ion-button full large (click)="payment()" color="positive">{{dataInfo.titlePaymentForm}}</button>
  <button *ngIf="! totalReceived || totalReceived === 0" ion-button full large (click)="goBack()" color="positive">{{dataInfo.titleCancel}}</button>
  <button *ngIf="totalReceived === finalValue" ion-button full large (click)="finishPayment()" color="positive">{{dataInfo.titlePay}}</button>  
</ion-footer>