  <ion-header>
    <ion-navbar text-center no-border-bottom color="primary">      
        <ion-title>{{dataInfo.titleSupervisor}}</ion-title>     

        <ion-item detail-none no-lines class="backgroundPainel" text-center>  
            <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.login_usuarios}}             
            <b>{{dataInfo.titleAddress}}:</b> {{dataInfo.ipLocal}} 
            <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}          
        </ion-item>
        
        
        <ion-buttons start>
            <button ion-button menuToggle icon-only color="royal">
                <ion-icon name="menu"></ion-icon>
              </button>
          </ion-buttons>
      
    </ion-navbar>     

 </ion-header>
  
<ion-content padding>  
             
  <ion-list>      
    <button ion-item (click)="presentModalBleeding()">
        {{ dataInfo.titleCashDrain }}
    </button>    

    <button ion-item (click)="presentModalChange()">
      {{ dataInfo.titleCashChange }}
    </button>
    
    <button ion-item (click)="presentModalExtract()">
      {{ dataInfo.titleCashStatement }}
  </button>

  <button ion-item (click)="presentModalUsers()">
      {{ dataInfo.titleUsers }}
  </button>

  <button ion-item (click)="presentModalSession()" *ngIf="dataInfo.sessao === 0">
      {{ dataInfo.titleSession }}
  </button>

  <button *ngIf="false" ion-item (click)="presentModalAttachments()">
      Anexos comprovantes
  </button>

  </ion-list>


</ion-content>