<ion-header>
    <ion-navbar text-center no-border-bottom color="primary">      
        <ion-title>{{dataInfo.titleAppName}}</ion-title>      

        <ion-buttons end>

            <button ion-button icon-only color="royal" (click)="presentModalCashDrain()" tooltip="Sangria" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="md-remove-circle"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="presentModalChange()" tooltip="Troco" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="cash"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="presentModalExtract()" tooltip="Extrato de caixa" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="ios-clipboard"></ion-icon>
            </button>
            
            <button ion-button icon-only color="royal" (click)="presentPromptParking()" tooltip="Estacionamento" positionV="bottom" arrow>                
                <ion-icon class="fs-30" name="car"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="goPageTicket()" tooltip="Reimpressão" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="ios-print"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="logout()" tooltip="Deslogar" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="log-out"></ion-icon>
            </button>            
        </ion-buttons>

  </ion-navbar>  

    <ion-toolbar color="primary">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        (ionInput)="setFilteredItems()"
        placeholder= "Procurar...">    
      </ion-searchbar>
   </ion-toolbar>

</ion-header>

<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Atualizando informações" 
            refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>

<ion-list>      

    <ion-item *ngFor="let product of products" no-lines>                    

        <ion-grid item-content>
            <ion-row>
                <ion-col col-2>
                    <button ion-button icon-only color="secondary" clear outline (click)="increment(product)">
                       <ion-icon class="fs-30" name="add-circle"></ion-icon>
                     </button>
                </ion-col> 

                <ion-col col-2>
                  <ion-input class="productQuantity" [(ngModel)]="product.quantity"></ion-input>        
                </ion-col>

                <ion-col col-2>
                    <button class="productQuantity" ion-button icon-only color="danger" clear outline (click)="decrement(product)">
                        <ion-icon class="fs-30" name="remove-circle"></ion-icon>
                    </button>                  
                </ion-col>

                <ion-col col-2>
                    <h2 *ngIf="product.quantity !== 0">{{product.nome_produto}} - R$ {{product.valor_total}}</h2>       
                    <h2 *ngIf="product.quantity === 0">{{product.nome_produto}}</h2>
                </ion-col>

                <ion-col>
                    <button *ngIf="product.quantity !== 0" ion-button item-left color="secondary" (click)="presentModal(product)">          
                        <ion-icon name="ios-folder-open"></ion-icon> {{product.nome_subtipo_produto}}
                    </button>                                      
                </ion-col>
                
            </ion-row>
        </ion-grid>        
                   
    </ion-item>    
    
    <ion-item *ngFor="let ticket of ticketParking" no-lines>      
      
            <h2>{{ticket.nome_produto}}</h2>       
    
            <button ion-button item-right color="danger" (click)="removeParking(ticket)">          
                <ion-icon name="ios-close"></ion-icon>
                {{dataInfo.titleRemove}}
            </button>                   

        </ion-item>    
    
  </ion-list>

</ion-content>


<ion-footer no-border color="transparent" *ngIf="totalSelected > 0" class="ani-bottom-to-top">     

    <button ion-button full large (click)="getAllProducts()" style="text-transform: uppercase;">{{dataInfo.titleTotalSelected}}: {{totalSelected}}</button>   
    <button ion-button full large (click)="goPagePayment()" color="secondary" style="text-transform: uppercase;">{{dataInfo.titlePay}}  R$ {{finalValue}}</button>    
</ion-footer>