<ion-header>
    <ion-navbar text-center no-border-bottom color="primary">              

        <ion-row>

            <ion-col>
                <ion-item detail-none no-lines class="backgroundPainel" text-left>  
                    <ion-title *ngIf="! dataInfo.isAdmin">{{dataInfo.titleAppName}}</ion-title>                                              
                    <ion-title *ngIf="dataInfo.isAdmin">{{dataInfo.titleAppName}} {{dataInfo.titleProducts}} </ion-title>                                              
                </ion-item>                
            </ion-col>

            <ion-col col-9 *ngIf="! dataInfo.isAdmin && dataInfo.userInfo">
                <ion-item detail-none no-lines class="backgroundPainel" text-center>  
                    <b>{{dataInfo.titleUsername}}:</b> {{dataInfo.userInfo.login_usuarios}}             
                    <b>{{dataInfo.titleAddress}}:</b> {{dataInfo.ipLocal}} 
                    <b>{{dataInfo.titleTime}}:</b> {{dataInfo.clock}}
                </ion-item>
            </ion-col>        
        </ion-row>        
       
        <ion-buttons end *ngIf="! dataInfo.isAdmin">

            <button ion-button icon-only color="royal" (click)="presentModalCashDrain()" tooltip="Sangria" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="md-remove-circle"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="presentModalChange()" tooltip="Troco" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="cash"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="presentModalExtract()" tooltip="Extrato de caixa" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="ios-clipboard"></ion-icon>
            </button>
            
            <button ion-button icon-only color="royal" (click)="presentPromptParking()" tooltip="Estacionamento" positionV="bottom" arrow>                
                <ion-icon class="fs-30" name="car"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="goPageTicket()" tooltip="Reimpressão" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="ios-print"></ion-icon>
            </button>

            <button ion-button icon-only color="royal" (click)="logout()" tooltip="Deslogar" positionV="bottom" arrow>
                <ion-icon class="fs-30" name="log-out"></ion-icon>
            </button>            
        </ion-buttons>                

  </ion-navbar>  

    <ion-toolbar color="primary">
      <ion-searchbar #inputSearch
        [(ngModel)]="searchTerm"
        (search)="setFilteredItems()"
        placeholder= "Procurar...">    
      </ion-searchbar>
   </ion-toolbar>

</ion-header>

<ion-content padding>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Atualizando informações" 
            refreshingSpinner="circles">
        </ion-refresher-content>
    </ion-refresher>


<ion-list *ngIf="! dataInfo.isAdmin">      
    
    <ion-item *ngFor="let product of products" no-lines>                    

        <ion-grid item-content>
            <ion-row>   

                <ion-col>
                    <button [disabled]="product.stock === 0" ion-button icon-only color="danger" clear outline (click)="decrement(product)">
                        <ion-icon class="fs-30" name="remove-circle"></ion-icon>
                    </button>                  
                </ion-col>                

                <ion-col class="align-text-middle">                
                    <ion-input text-center type="number" [disabled]="product.stock === 0" (keydown)="onKeydown(product)" [(ngModel)]="product.quantity" (ngModelChange) ="productQuantityChanged(product)"></ion-input>        
                </ion-col>                                                    

                <ion-col>
                    <button ion-button icon-only color="secondary" clear outline (click)="increment(product)" [disabled]="product.stock === 0">
                        <ion-icon class="fs-30" name="add-circle"></ion-icon>
                        </button>
                </ion-col> 


                <ion-col class="align-text-middle" col-4 *ngIf="dataInfo.appType === 1 && dataInfo.sessao === 0">                                        
                    <h2 *ngIf="product.quantity !== 0">{{product.nome_produto}} - R$ {{product.valor_total}}</h2> 
                    <h2 *ngIf="product.quantity === 0">{{product.nome_produto}}</h2>
                </ion-col>

                <ion-col class="align-text-middle" col-4 *ngIf="dataInfo.appType === 1 && dataInfo.sessao === 1">       

                    <h2 *ngIf="product.quantity !== 0">{{product.nome_produto}} - R$ {{product.valor_total}} 
                        - {{dataInfo.titleSession}}: {{product.sessaoNome}} - {{dataInfo.titleSessionMax}}:  {{product.sessaoLotacacao}} - {{dataInfo.titleSessionActual}}: {{product.lotacaoAtual}} </h2>                   

                    <h2 *ngIf="product.quantity === 0">{{product.nome_produto}}</h2>
                </ion-col>

                <ion-col class="align-text-middle" col-4 *ngIf="dataInfo.appType === 2">                                        
                    <h2 *ngIf="product.quantity !== 0">{{product.nome_produto}} - R$ {{product.valor_total}} - {{dataInfo.titleStock}}: {{product.stock}}</h2> 
                    <h2 *ngIf="product.quantity === 0">{{product.nome_produto}} - {{dataInfo.titleStock}}: {{product.stock}}</h2>
                </ion-col>                

                <ion-col col-4>
                    <button *ngIf="product.quantity !== 0" small ion-button item-left color="secondary" text-wrap (click)="presentModal(product)">                                      
                        <ion-icon name="ios-folder-open"></ion-icon>{{product.selectedsName}} 
                    </button>                                      

                    <button *ngIf="product.quantity !== 0 && product.comprovante === 1" small ion-button item-left color="secondary" text-wrap (click)="presentModalAttachment(product)">                                      
                        <ion-icon name="ios-folder-open"></ion-icon>{{dataInfo.titleAttachment}}
                    </button>
                </ion-col>
                
            </ion-row>
        </ion-grid>        
                   
    </ion-item>    
    
    <ion-item *ngFor="let ticket of ticketParking" no-lines>      

        <h2>{{ticket.nome_produto}}</h2>       

        <button ion-button item-right color="danger" (click)="removeParking(ticket)">          
            <ion-icon name="ios-close"></ion-icon>
            {{dataInfo.titleRemove}}
        </button>                   

    </ion-item>    

  </ion-list>

  <ion-list *ngIf="dataInfo.isAdmin">      
    
        <ion-item *ngFor="let product of products" no-lines>                    
            <h2>{{product.nome_produto}} - {{dataInfo.titleStock}}: {{product.stock}}</h2>                        
        </ion-item>                
    
      </ion-list>

</ion-content>

<ion-footer no-border color="transparent" class="ani-bottom-to-top">             

    <ion-row *ngIf="! dataInfo.isAdmin">
        <ion-col>            
           <button ion-button full color="bronze" [disabled]="totalSelected === 0" (click)="goPageCheckout()" color="positive" style="text-transform: uppercase;">{{dataInfo.titleCheckout}}</button>                         
        </ion-col>
    
        <ion-col>
            <button ion-button full [disabled]="totalSelected === 0" (click)="getAllProducts()" color="positive" style="text-transform: uppercase;">{{dataInfo.titleTotalSelected}}: {{totalSelected}}</button>   
        </ion-col>

        <ion-col>
            <button ion-button full [disabled]="totalSelected === 0" (click)="goPagePayment()" color="secondary" style="text-transform: uppercase;">{{dataInfo.titlePay}}:  R$ {{finalValue}}</button>    
        </ion-col>
    </ion-row>
                
</ion-footer>    