<ion-header>

    <ion-navbar text-center no-border-bottom color="primary">
      <ion-title> {{dataInfo.titleUsers}} </ion-title>                
    </ion-navbar>
  
    <ion-toolbar no-border color="primary">
        <ion-searchbar
          [(ngModel)]="searchTerm"
          (ionInput)="setFilteredItems()"
          placeholder= "Procurar...">
       </ion-searchbar>
    </ion-toolbar>
   
  </ion-header>
  
<ion-content padding>

    <ion-list>

      <ion-item no-lines class="text-green fs-15 fw-600 pdl-0">                  
          <ion-label color="primary" class="fs-30">{{dataInfo.titleSupervisorPdvi}}</ion-label>    
            <ion-select [(ngModel)]="supervisorUsername">              
            <ion-option *ngFor="let supervisor of (allSupervisors | async)?.success">{{supervisor.login_usuarios}}</ion-option>                                                  
          </ion-select>                          
        </ion-item>      
  
        <ion-item no-lines class="text-green fs-15 fw-600 pdl-0">
            <ion-label color="primary" class="fs-30">{{dataInfo.titlePassword}}</ion-label>      
              <ion-input type="password" [(ngModel)]="supervisorPassword" (keyup.enter)="finish()" text-right  
              #inputPassword></ion-input>
        </ion-item>    


      <ion-item>
          <button ion-button full color="secondary" [disabled]="!supervisorPassword && ! supervisorUsername" color="positive" style="text-transform: uppercase;" (click)="finish()">{{dataInfo.titleAuth}}</button>
      </ion-item>

      <ion-buttons ion-item text-wrap *ngFor="let user of (users | async)?.success" no-lines (click)="presentAlertPrompt(user)">
          <ion-icon name="md-flash" item-start *ngIf="user.fk_id_nivel_acesso === 1" color="primary"></ion-icon>
          <ion-icon name="ribbon" item-start *ngIf="user.fk_id_nivel_acesso === 2" color="primary"></ion-icon>
          <ion-icon name="people" item-start *ngIf="user.fk_id_nivel_acesso === 4" color="primary"></ion-icon>

          {{user.login_usuarios}} 
       </ion-buttons>
    
  </ion-list>


</ion-content>
